*{
 text-transform: uppercase;
}
.carousel-item {
 height: 39rem;
color: black;
position: relative;
/* background: rgba(0, 0, 0, 1); */
}
.container-info{
 position: absolute;
 /* bottom: 0;
 left: 0;
 right: 0;
 margin-bottom: 50px;
 margin-left: 30px; */
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.overlay-image {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 top: 0;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.8;
}
@media (min-width:768px) {
 .modal-group{
  width:50%;
 }
}
@media (min-width:576px) {
 .course-img{
  width: 100%;
 }
}